<footer class='bg-very-light-brown text-white px-2 h-fit'>
  <div class='flex flex-col items-center px-2'>
    <div class='flex flex-row space-x-4 py-4 rounded-md'>
        <a href='https://github.com/ideletemyself'>
          <span id="github" class="icon-[bi--github] text-cyan-blue hover:text-white" 
                style="width: 32px; height: 32px;"></span>
        </a>
      <a href='https://twitter.com/ideletemyself'>
        <span id="twitter" class="icon-[bi--twitter] text-cyan-blue hover:text-white" 
                style="width: 32px; height: 32px;"></span>
      </a>
      <a href='https://www.instagram.com/ideletemyself/'>
        <span id="instagram" class="icon-[bi--instagram] text-cyan-blue hover:text-white" 
                style="width: 32px; height: 32px;"></span>
      </a>
    </div>
    <p class='flex flex-row text-cyan-blue mb-6'>
      Email:&nbsp;
      <a
        href='mailto:bmckimmons@me.com'
        class='hover:underline hover:text-white'
      >
        bmckimmons@me.com
      </a>
    </p>
    <ul hx-target="#main" class='flex flex-wrap justify-around text-base space-x-4 sm:space-x-8 
                                 space-y-4 pb-4 text-cyan-blue'>
      <li class='flex p-1 mt-4 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/' hx-push-url="true">
          Home
        </a>
      </li>
      <li class='flex p-1 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/nature' hx-push-url="true">
          Nature
        </a>
      </li>
      <li class='flex p-1 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/animals' hx-push-url="true">
          Animals
        </a>
      </li>
      <li class='flex p-1 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/sagan' hx-push-url="true">
          Sagan
        </a>
      </li>
      <li class='flex p-1 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/astrophotography' hx-push-url="true">
          Astrophotography
        </a>
      </li>
      <li class='flex p-1 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/blog' hx-push-url="true">
          Blog
        </a>
      </li>
      <li class='flex p-1 hover:underline hover:bg-light-cyan-blue hover:text-white rounded'>
        <a hx-get='/about' hx-push-url="true">
          About Me
        </a>
      </li>
    </ul>
  </div>
</footer>

