<div class="bg-cover bg-center bg-no-repeat bg-gradient-to-b from-black w-full 
            h-[250px] sm:h-[512px] lg:h-[672px] xl:h-[853px] 2xl:h-[1118px]
            flex flex-col justify-center" 
     style="background-image: url('/static/images/homepage/DSC01612-hero.webp')">
    <div class="text-center text-white">
      <h1 class="subpixel-antialiased text-2xl sm:text-4xl md:text-6xl lg:text-6xl xl:text-8xl font-bold">
        Brandon McKimmons
      </h1>
      <p class="subpixel-antialiased text-xl sm:text-2xl md:text-4xl lg:text-4xl xl:text-4xl">
        Photography, Programming & Producing Music
      </p>
    </div>
</div>
