{{define "homepageContent"}}
{{template "hero.html" .}}
  <div class='bg-behr-debonair-blue py-8'>
      <div id='hiku'
           class='bg-behr-debonair-blue flex flex-wrap justify-center py-8'>
        <article class='bg-very-light-brown rounded shadow-lg relative prose text-left font-light 
                            text-slate-500 text-2xl sm:max-xl:text-4xl xl:text-5xl py-8 px-4'>
          <p>Software, lens and sound</p>
          <p>Crafting new in harmony</p>
          <p>Art blooms all around</p>
        </article>
      </div>
  </div>

  <div class='bg-behr-debonair-blue py-8'>
      <div id='front-page-text-top'
           class='bg-behr-debonair-blue flex flex-wrap justify-center py-8'>
        <article class='bg-very-light-brown rounded shadow-lg relative prose prose-xl sm:prose-2xl 
                        text-left font-light text-slate-500 py-8 px-4'>
          <p>
            Welcome to my site. I&apos;m a software developer, photographer,
            videographer and musician. Here you&apos;ll find my photography,
            videos, music and software projects. Projects like this very
            website and blog. Enjoy your stay and please come back as
            I&apos;ll be adding more content as I create it.
          </p>
        </article>
      </div>
    </div>

  <div class="flex flex-col bg-behr-debonair-blue w-full px-0 sm:px-20 py-4">
    <main>
        <div class="flex flex-wrap md:flex-row bg-behr-debonair-blue w-full justify-center palce-items-center 
                    space-x-0 sm:space-x-4 space-y-4 px-4">
          
        <div class="bg-behr-debonair-blue pt-4 pl-0 sm:pl-4">
          <div class='bg-very-light-brown rounded overflow-hidden shadow-lg relative text-center sm:text-left 
                      font-light text-slate-500 max-w-96 max-h-fit pb-4'>
              <a href='/astrophotography'>
                <img src='/static/images/homepage/Blue_Orion_Shot1_Small.webp' 
                     alt="A photo of the Orion constellation"
                     width="353"       
                     height="235"
                     class="w-full object-cover rounded" />
                  <p class="font-light text-3xl xs:text-4xl text-center text-med-light-magenta 
                            hover:opacity-60 pb-4 px-2">
                      Astrophotography
                  </p>
                  <article class='prose prose-lg leading-normal text-slate-500 items-center text-left px-4'>
                    Space photos, the final framed tier and beyond.
                  </article>
              </a>
          </div>
        </div>

          <div class='bg-very-light-brown rounded overflow-hidden shadow-lg relative text-center sm:text-left 
                      font-light text-slate-500 max-w-96 max-h-fit pb-2'>
              <a href='/nature'>
                <img src='/static/images/homepage/Green_Path_at_Sunset_Small.webp' 
                     alt="A green path at sunset"
                     width="353"       
                     height="235"
                     class="w-full object-cover rounded" />
                  <p class="font-light text-3xl xs:text-4xl text-center text-med-light-magenta 
                            hover:opacity-60 pb-4 px-2">
                     Nature 
                  </p>
                  <article class='prose prose-lg leading-normal text-slate-500 items-center text-left px-4'>
                    Nature photos, or something closely resembling nature.
                  </article>
              </a>
          </div>

          <div class='bg-very-light-brown rounded overflow-hidden shadow-lg relative text-center sm:text-left 
                      font-light text-slate-500 max-w-96 max-h-fit pb-4'>
              <a href='/animals'>
                <img src='/static/images/homepage/Green_Parrot_On_Branch_Small.webp' 
                     alt="A green parrot hamming it up on a branch"
                     width="353"       
                     height="235"
                     class="w-full object-cover rounded" />
                  <p class="font-light text-3xl xs:text-4xl text-center text-med-light-magenta 
                            hover:opacity-60 pb-4 px-2">
                     Animals 
                  </p>
                  <article class='prose prose-lg leading-normal text-slate-500 items-center text-left px-4'>
                    Showcasing animals, in their beauty and diversity in a single shot.
                  </article>
              </a>
          </div>

          <div class='bg-very-light-brown rounded overflow-hidden shadow-lg relative text-center sm:text-left 
                      font-light text-slate-500 max-w-96 max-h-fit pb-4'>
              <a href='/sagan'>
                <img src='/static/images/homepage/Sagan_Yawning_On_Blue_Sofa_Small.webp' 
                     alt="Sagan yawning on a blue sofa"
                     width="353"       
                     height="235"
                     class="w-full object-cover rounded" />
                  <p class="font-light text-3xl xs:text-4xl text-center text-med-light-magenta 
                            hover:opacity-60 pb-4 px-2">
                     Sagan 
                  </p>
                  <article class='prose prose-lg leading-normal text-slate-500 items-center text-left px-4'>
                    A collection of photos of my cat, Sagan, obviously.
                  </article>
              </a>
          </div>

          <div class='bg-very-light-brown rounded overflow-hidden shadow-lg relative text-center sm:text-left 
                      font-light text-slate-500 max-w-96 max-h-fit pb-4'>
              <a href='/blog'>
                <img src='/static/images/homepage/blog-writing.webp' 
                     alt="To post a blog"
                     width="353"       
                     height="235"
                     class="w-full object-cover rounded" />
                  <p class="font-light text-4xl text-center text-med-light-magenta hover:opacity-60 pb-4 px-2">
                      The Blog
                  </p>
                  <article class='prose prose-lg leading-normal text-slate-500 items-center text-left px-4'>
                    My blog articles on various things this site covers.
                  </article>
              </a>
          </div>
        </div>

          <div class='bg-behr-debonair-blue py-8'>
            <div id='front-page-text-bottom'
                 class='bg-behr-debonair-blue flex flex-wrap justify-center py-8'>
              <article class='bg-very-light-brown rounded shadow-lg relative prose prose-xl sm:prose-2xl 
                              text-left font-light text-slate-500 py-8 px-4'>
                <p>
                  Ever since highschool I&apos;ve loved photography. I was lucky
                  enough to go to a school with a photography class. We used
                  film and developed our own photos. I learned a lot about the
                  process and how to take a good photo. I&apos;ve had various
                  cameras but only recently have I had what I consider to be a
                  really good, professional camera.
                </p>
                <p>
                  It&apos;s a Sony A7iv and I absolutely love it. I&apos;ve been
                  taking photos of everything I can, mostly of my cat Sagan but
                  also of the nature around me, some animals that I can find
                  here and there and of course the night sky. I hope you&apos;ll
                  take a look at some of my photos and enjoy them as much as I
                  do.
                </p>
              </article>
            </div>
          </div>

    </main>
  </div>
{{end}}

